<a href="https://colab.research.google.com/github/koreaithw/ai/blob/main/02HW20220126%EA%B9%80%ED%98%84%EC%97%BD13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#051
movie_rank = ["닥터 스트레인지","스플릿","럭키"]

In [3]:
#052
movie_rank.append("배트맨")
# movie_rank.insert(0,"배트맨")

In [7]:
#053
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [9]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")

In [13]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [18]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [22]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print("max : ",min(nums))
print("min : ",max(nums))

1
7

In [30]:
# 058
nums = [1, 2, 3, 4, 5]
s=nums[0]+nums[1]+nums[2]+nums[3]+nums[4]
print(s)

15

In [28]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두",
"쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [34]:
# 060
nums = [1, 2, 3, 4, 5]
s=(nums[0]+nums[1]+nums[2]+nums[3]+nums[4])/len(nums)
print(s)

3.0

In [43]:
# 121
l=input("문자입력")
if l.islower():
  i = l.upper()
  print(i)
else:
  i=l.lower()
  print(i)

문자입력A
a

In [48]:
# 122
score = int(input("score입력>>"))

if score>80:
  gr = "A"
elif score>60:
  gr = "B"
elif score>40:
  gr = "C"
elif score>20:
  gr = "D"
else:
  gr = "E"

print(f"grade is {gr}")

score입력>>23
grade is D

In [56]:
# 123
money = input("입력>>")

if "달러"in money:
  USD=float(money[:-3])
  print("%.2f원" %(1167*USD))
elif "엔" in money:
  JPY=float(money[:-2])
  print("%.2f원" %(1.096*JPY))
elif "유로" in money:
  EUR=float(money[:-3])
  print("%.2f원"%(1268*EUR))
elif "위안" in money:
  CNY=float(money[:-3])
  print("%.2f원"%(171*CNY))

입력>>100 달러
116700.00원

In [58]:
# 124
n1=int(input("정수1입력>"))
n2=int(input("정수2입력>"))
n3=int(input("정수3입력>"))
a=0
if n1>n2 & n1>n3:
  a=n1
elif n2>n3:
  a=n2
else:
  a=n3


print(a)

정수1입력>10
정수2입력>9
정수3입력>20
20

In [63]:
# 125
pn = input("휴대전화 번호 입력:")
if int(pn[2])==1:
  info='SKT'
elif int(pn[2])==6:
  info = "KT"
elif int(pn[2])==9:
  info = "LGU"
elif int(pn[2])==0:
  info = "알수없음"

print(f"당신은 {info}사용자 입니다")

휴대전화 번호 입력:010-1111-1111
당신은 알수없음사용자 입니다

In [67]:
#126
pn = input("우편 번호 입력:")
if int(pn[2])>5:
  c="노원구"
elif int(pn[2])>2:
  c="도봉구"
else:
  c="강북구"

print(c)

우편 번호 입력:12700
노원구

In [73]:
# 127
id = input("주민등록번호:")
if int(id[7])==1 or int(id[7])==3:
  sex = "남자"
elif int(id[7])==2 or int(id[7])==4:
  sex = "여자"

print(sex)

주민등록번호:321654-1562645
남자

In [75]:
# 128
id = input("주민등록번호:")
if int(id[8])==0 and int(id[9])<9:
  print("서울 입니다")
else:
  print("서울이 아닙니다")
# elif (int(id[8])==0 and int(id[9])==9) or int(id[8])==1 and int(id[9])<3:
#   print("서울이 아닙니다")

주민등록번호:861010-1015210
서울 입니다

In [76]:
# 129
id = input("주민등록번호:")
c1=int((id[0]*2 + id[1]*3 + id[2]*4 + id[3]*5 + id[4]*6+ id[5]*7 + id[7]*8+ id[8]*9 + id[9]*2+id[10]*3+id[11]*4+id[12]*5))
c2=(c1%11)
ln=c2-11
if id[12]!=ln:
  print('유효하지 않은 주민등록 번호 입니다')

주민등록번호:821010-1635210
유효하지 않은 주민등록 번호 입니다

In [4]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
range=int(btc['max_price'])-int(btc['min_price'])

if (int(btc['opening_price']) +range)> int(btc['max_price']):
  print("상승장")
else:
  print("하락장")

상승장