In [ ]:
# 476
def xyz():
    x = 40 
    abc() 
    print(x) 
def abc(): 
    a = 32
    x = 10 
xyz() 
#b

In [ ]:
# 477
def xyz():
    x = 40 
    abc() 
    print(x) 
def abc(): 
    a = 32
    x = 10 
xyz() 
#b

In [ ]:
# 478
def abc():
    print(x)
    x = 10 
abc() 
#a

In [ ]:
# 479
def abc():
    x = 12 
    print(x) 
    x = 10 
abc() 
#b

In [ ]:
# 480
def abc(): 
    x = 10
    print(x) 
abc() 
x = 12 
#c

In [ ]:
# 481
def abc(): 
    global x
    x = 23 
    x = 10 
abc() 
print(x) 
#c

In [ ]:
# 482
def abc(): 
    print(x) 
    x = 10
abc()
x = 20
#d

In [ ]:
# 483
def abc(x): 
    return 20 / x 
print(abc(4)) 
#c

In [ ]:
# 484
def abc(x): 
    return 20 / x 
print(abc(0)) 
#d

In [ ]:
# 485
def abc(x): 
    try:
        print(20 / x) 
    except:
        print('Not a valid argument', end=' ')
print(abc(0))
#c

In [ ]:
# 486
def abc(x): 
    try: 
        print(20 / x) 
    except:
        print('Not a valid argument', end=' ') 
    finally: 
        print(0, end=' ') 
print(abc(0)) 
#a

In [ ]:
# 487
x = [1, 2, 3, 4] 
print(x[4])
#d

In [ ]:
# 488
x = [10, 20, 30, 40] 
print(x[20]) 
#d

In [ ]:
# 489
x = [1.0, 2.0, 3.0] 
print(x[2.0]) 
#c

In [ ]:
# 490
x = [1.0, 2.0, 3.0] 
print(x[int(2.0)]) 
#b

In [ ]:
# 491
x = ['Today', 'nice', 'day'] 
print(x[0] + ' is a ' + x[1] + x[2]) 
#a

In [ ]:
# 492
x = ['Today', 'Sunday', 'Monday'] 
print(x[0] + ' was a great day') 
#a

In [ ]:
# 493
x = ['Today', 'Sunday', 'Monday'] 
print(x[-1] + ' was a great day') 
#c

In [ ]:
# 494
x = ['Today', 'Sunday', 'Monday'] 
print(x[-3] + ' was a great day')
#a

In [ ]:
# 495
x = ['Today', 'Sunday', 'Monday'] 
x[2] = 'Friday' 
x[1] = 'Yesterday' 
print(x[-2] + ' was a great day')
#d

In [ ]:
홀수와 짝수의 개수를 구하는 func 함수를 만드세요.
[3, 4, 5, 6, 7] = 홀수 3개, 짝수 2개
[12, 16, 22, 24, 29] = 홀수 1개, 짝수 4개
[41, 43, 45, 47, 49] = 홀수 5개, 짝수 0개
홀수 : 2로 나누어 떨어지지 않는 정수
짝수 : 2로 나누어 떨어지는 정수

In [26]:
def func (numlist):
    even_count=0
    odd_count=0
    for x in numlist:
        if(x%2==0):
            even_count+=1      
        else:
            odd_count+=1
    print("홀수 %s개, 짝수 %s개"%(odd_count, even_count) )
func([3, 4, 5, 6, 7])
func([12, 16, 22, 24, 29])
func([41, 43, 45, 47, 49])

홀수 3개, 짝수 2개
홀수 1개, 짝수 4개
홀수 5개, 짝수 0개