In [ ]:
# 556
x = 'Python Jobs' 
if x.lower() == 'python jobs': 
    print('Python jobs') 
else: 
    print('python 3 jobs') 
#b

In [ ]:
# 557
x = 'Python Jobs' 
if x.isupper(): 
    print('Python jobs') 
else: 
    print('python 3 jobs') 
#a

In [ ]:
# 558
x = 'Python Jobs' 
y = x.upper().lower().upper() 
print(y) 
#b

In [ ]:
# 559
x = 'Python Jobs' 
y = x.upper().lower().isupper() 
print(y) 
#c

In [ ]:
# 560
x = ['Python', 'is', 'interesting'] 
y = ' '.join(x)         # list X안의 요소들을 " "로 모두 조인해준다
print(y) 
#b

In [ ]:
# 561
x = 'Python is interesting' 
y = x.split()
print(y) 
#d

In [ ]:
# 562
x = '''Today is a nice day. 
Let's go for a walk. 
We'll also go to the park.''' 
y = x.split('\n') 
print(y) 
#a

In [ ]:
# 563
x = 'Python 2 and Python 3' 
print(x.strip('and')) 
#c

In [ ]:
# 564
x = 'Python 2 and Python 3' 
print(x.strip('thon 3')) 
#b

In [3]:
# 565
#! python3 
x = 'Python 3' 
#c

In [ ]:
# 566
import re 
x = re.compile(r'\d\d\d-\d\d\d\d') 
y = x.search('The phone number is 444-4444') 
print(y.group())
#c

In [ ]:
# 567
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(2)) 
#b

In [ ]:
# 568
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(1)) 
#d

In [ ]:
# 569
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(0)) 
#c

In [ ]:
# 570
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)')
y = x.search('The phone number is 444-4444') 
print(y.groups()) 
#a

In [ ]:
# 571
import re 
x = re.compile(r'(\(\d\d\d\))-(\d\d\d\d)')
y = x.search('The phone number is (444)-4444') 
print(y.group(1)) 
#d

In [ ]:
# 572
import re 
x = re.compile(r'Python 2|Python 3')
y = x.search('Python 3 MCQ') 
print(y.group()) 
#c

In [ ]:
# 573
import re 
x = re.compile(r'Python 2|Python 3') 
y = x.search('Python 2.7') 
print(y.group()) 
#b

In [ ]:
# 574
import re
x = re.compile(r'day') 
y = x.search('Today is a nice day and a Sunday') 
print(y.group()) 
#a

In [ ]:
# 575
import re 
x = re.compile(r'(Sun)?day') 
y = x.search('Today is a nice day and a Sunday') 
print(y.group()) 
#a

In [ ]:
Algorithm Homework(#32)
주어진  문자열(공백  없이  쉼표로  구분되어  있음)을  가지고  아래 문제에  대한  프로그램을  작성하세요.
이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이 성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌
①   김씨와  이씨는  각각  몇  명  인가요?
②   "이재영"이란  이름이  몇  번  반복되나요?
③   중복을  제거한  이름을  출력하세요.
④   중복을  제거한  이름을  오름차순으로  정렬하여  출력하세요.

In [45]:
names = '''이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌 '''.split(",")
print("how many kim and lee ? :")
count_kim=0
count_lee=0
for name in names:
    if name[0]=="김":
        count_kim+=1
    elif name[0]=="이":
        count_lee+=1
print(f'김씨 {count_kim} 명, 이씨 {count_lee} 명')
print(names.count("이재영"))
print(set(names))
print(sorted(set(names)))

how many kim and lee ? :
김씨 2 명, 이씨 6 명
3
{'최승혁', '송정환', '강상희', '김재성', '박영서', '김지완', '전경헌', '권종표', '전경헌 ', '이재영', '이유덕', '박민호', '이성연'}
['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '전경헌 ', '최승혁']