<a href="https://colab.research.google.com/github/koreaithw/ai/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
############
# 주석 comment
############
print("hello world") # 주석

hello world

In [ ]:
############
# 변수 Variable
############
score = 200

print(score)

score = 300

print(score)

a=1
A=2
print(a)
print(A)
a1 =10
a2 =20
print(a1)
print(a2)
print(a+A)

200
300
1
2
10
20
3

In [ ]:
name = "Alice"
age =25
address = '''우편번호 12345
서울시영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height= 168.5

print(name)
print(age)
print(boyfriend)
print(height)

Alice
25
None
168.5

In [ ]:
############
# 기본 자료형 type
############
a=int(1.9)  #정수만 나옴
print(a)
b=float(1.9)
print(b)
c=int(True)   #True==1
print(c)
d=int(False)  #False==0
print(d)

1
1.9
1
0

In [ ]:
print(100+100)  #숫자 100
print('100'+"100") #문자 100

a=100
b="100"
print(type(a))  #type() 타입을 보여주는 함수
print(type(b))
print(a==b)
c=int(b)
print(type(c))
print(a==c)

200
100100
<class 'int'>
<class 'str'>
False
<class 'int'>
True

In [ ]:
#실수 float
a=float(1)
print(a)
b=float
print(b)
a = bool(23)
print(a)

1.0
<class 'float'>
True

In [ ]:
# 문자열 인덱싱  
# 파이썬은 0에서 시작한다
# hello
# 01234

s="hello"
print(s[0])

a = '990211-1005432'
print(a[7])

h
1

In [ ]:
a = '990211-1005432'
print(a[0:2])  # 0번째부터 2번째 미만 까지 추출
print(a[0:10:2]) #step 생략가능

99
901-0

In [ ]:
#print
print('Hello \'World\'')
print('Hello \nWorld')
print('Hello \tWorld')
print('Hello','World')
print('Hello',end=':')
print("World")

Hello 'World'
Hello
World
Hello 	World
Hello World
Hello:World
what

In [ ]:
print('국어','영어','수학')
print('국어','영어','수학',sep='/')
print('국어','영어','수학',sep=',')
print('국어','영어','수학',sep='\n')
print('국어','영어','수학',sep='\t')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학
국어	영어	수학

In [ ]:
a=10
print("%d을 입력하세요"%a)   #%d decimal 정수
b=3.14
print("원주율은 %f 입니다"%b)   #%f float 실수
str="nothing"
print("this is %s"%str) #%s string 문자열
print("원주율은 %s 입니다" %b)
print("원주율은", b,"입니다")

10을 입력하세요
원주율은 3.140000 입니다
this is nothing
원주율은 3.14 입니다
원주율은 3.14 입니다

In [ ]:
print('%d' % 1)
print('%5d' % 1) #5자리를 확보해서 오른쪽에 찍음
print('%-5d' % 1) #5자리를 확보해서 왼쪽에 찍음

1
    1
1

In [ ]:
print('원주율은 %f 입니다' % 3.14)
print('원주율은 %5.3f 입니다' % 3.14)  #소수점포함 자릿수 확보
print('원주율은 %.3f 입니다' % 3.14)
print('원주율은 %10.3f 입니다' % 3.14)
print('원주율은 %-10.3f 입니다' % 3.14)

원주율은 3.140000 입니다
원주율은 3.140 입니다
원주율은 3.140 입니다
원주율은      3.140 입니다
원주율은 3.140      입니다

In [ ]:
name ="kai"
print("내이름은 %s입니다" % name)

height = 185.5
print("내 키는 %f입니다"%height)
print("내 키는 %s입니다"%height)

내이름은 kai입니다
내 키는 185.500000입니다
내 키는 185.5입니다

In [ ]:
#format()
zipcode = "06236"
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))
print("내 키는 %s 이고 이름은 %s입니다"%(height,name))
print("내 키는 {} 이고 이름은 {}입니다".format(height,name))

print('My name is {}. i\'m {} years old'.format(name,age))
print('My name is {name}. i\'m {age} years old'.format(name="kim",age=10))

우편번호 : 06236
우편번호 : 06236
내 키는 185.5 이고 이름은 kai입니다
내 키는 185.5 이고 이름은 kai입니다
My name is kai. i'm 25 years old
My name is kim. i'm 10 years old

In [ ]:
# f-string
# 파이썬 3.6 이후 부터 사용 가능

who ='you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [ ]:
age =25
print(f'내년에는 {age+1} 입니다')

내년에는 26 입니다

In [152]:
############
# 입력 input()
############

n=input()
print(f'당신이 입력한 내용은 {n}입니다')
n=input()
print(f'당신이 입력한 내용은 {n}입니다')

10
당신이 입력한 내용은 10입니다
10
당신이 입력한 내용은 10입니다

In [153]:
print("이름을 입력하세요?")
n=input()
print("나이를 입력하세요?")
a=input()
print(f"당신의 이름은 {n}이고 나이는 {a}입니다")

이름을 입력하세요?
asdf
나이를 입력하세요?
10
당신의 이름은 asdf이고 나이는 10입니다

In [154]:
print("이름을 입력하세요?")
n=input()
print("나이를 입력하세요?")
a=input()
print("당신의 이름은 %s이고 나이는 %s입니다" %(n,a))

이름을 입력하세요?
wqo
나이를 입력하세요?
21
당신의 이름은 wqo이고 나이는 21입니다

In [ ]:
print("이름을 입력하세요?")
n=input()
print("나이를 입력하세요?")
a=input()
print("당신의 이름은 {}이고 나이는 {}입니다" .format(n,a))

이름을 입력하세요?
dg
나이를 입력하세요?
10
당신의 이름은 dg이고 나이는 10입니다

In [ ]:
n=input("이름을 입력하세요?")
a=int(input('나이을 입력하세요?'))
#기본1
print("당신의 이름은",n,"이고 나이는",a,"입니다")
#f-string
print(f"당신의 이름은 {n}이고 나이는 {a}입니다")
#format()
print("당신의 이름은 {}이고 나이는 {}입니다".format(n,a))
#%연산자
print("당신의 이름은 %s이고 나이는 %d입니다" %(n,a))

이름을 입력하세요?HY
나이을 입력하세요?10
당신의 이름은 HY 이고 나이는 10 입니다
당신의 이름은 HY이고 나이는 10입니다
당신의 이름은 HY이고 나이는 10입니다
당신의 이름은 HY이고 나이는 10입니다

In [ ]:

month = int(input('할부 개월 입력:'))
total = 50000
a=round(total/month,2)  #반올림 ,2까지
#기본
print(month,"개월동안 매달 내는 금액은",a,"입니다" )
#f-string
print(f"{month}개월동안 매달 내는 금액은 {a}입니다" )
#format()
print("{}개월동안 매달 내는 금액은 {}입니다".format(month,a) )
#%연산자
print("%s개월동안 매달 내는 금액은 %s입니다"%(month,a) )

할부 개월 입력:3
3 개월동안 매달 내는 금액은 16666.67 입니다
3개월동안 매달 내는 금액은 16666.67입니다
3개월동안 매달 내는 금액은 16666.67입니다
3개월동안 매달 내는 금액은 16666.67입니다

In [ ]:
num=float(input('실수1 :'))
num2=float(input('실수2 :'))
print(f'{num}과 {num2}의 합계는 {num+num2}')

실수1 :2
실수2 :3
2.0과 3.0의 합계는 5.0