<a href="https://colab.research.google.com/github/koreaithw/ai/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# comment 주석 -코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽는 내용, 
# 또 다른 용법으로는 코드를 임시로 실행하지 않고 감추고 
# 에러를 확인하는 용도로도 사용된다.
# 본인이 기록한 내용을 나중에 확일할 때 또는 다른 팀원이 작성한 내용을 파악하기 용이하게 만든다.

# #을 사용하여 주석을 표시한다.

# doc string(삼중따옴표 주석의 용도로도 쓰인다).

#코드의 윗쪽 또는 오른쪽에 주석을 붙인다.
print('Hello World') #코드의 우측 또는 코드의 윗줄에 적는다.

Hello World

In [ ]:
#변수 Variable
#어떤 값을 저장하는 저장소(a- 짜리 표현)
a=100
print(a)

stumathsum =350
stu_math_sum=350 #스네이크 케이스 snake_case
StuMathSum =350  #캐멀 케이스  CamelCase

100

In [ ]:
# 1a = 100 숫자가 먼저 올 수 없다
a1=100
_a=100
# @a =100
홍길동 =55
#한글 변수명이 사용이 가능하지만 쓰지말자

In [ ]:
# 인덱싱(슬라이싱)

s = 'world'
print(s[2]) #파이썬은 인덱스 시작이 0이다.
print(s[-1]) #-1은 마지막 인덱스를 가리킨다
print(s[4])
ss='900101-2547389'
print(ss[7])  #하나만 추출 할 때는 indexing
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])  #여러개를 추출 할 때는 slicing

r
d
d
2
강남구

In [ ]:
#print()

print('좋은 아침입니다.')

좋은 아침입니다.

In [ ]:
when = '아침'
#기본
print('좋은',when,'입니다')
# %연산자
print('좋은 %s 입니다' %when)
#format()
print('좋은 {}입니다'.format(when) )
#f-string
print(f'좋은 {when}입니다')

좋은 아침 입니다
좋은 아침 입니다
좋은 아침입니다
좋은 아침입니다

In [ ]:
s='world'
t='python'
print(s+"!",t)

world! python

In [ ]:
############################################################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
# 여러개의 값을 한번에 저장하는 자료형이 필요하다

# 리스트 List
# 지금까지 사용한 숫자 1, 문자 1 등의 개별적 , 독립적인 자료가 아닌
# 리스트는 이러한 자료들을 여러개 모아서 사용 할 수 있게 해준다
# 리스트에 넣는 자료를 요소element 라고 부른다.

# 리스트는 []로 구성한다
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but,하나의 리스트에는 한가지 자료형 만 저장하는 것이 오히려 바람직하다.)
list = [1,2,3,'대한','민국',True,False]
print(list)
score = [80,90,70,60]
print(score)
# 리스트는 인덱싱(indexting)과 슬라이싱(slicing)이 가능하다
print(score[0])  #파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만.. 처럼 끝은 미만을 나타낸다.

# 리스트는 수적/삭제가 가능하다 (mutable) 튜플은 immutable
score[0]=100
print(score)
score[-1]= 100
print(score)
#score[4] indexerror (아주 많이 접하게 된 에러(예외))

# 리스트는 연산이 가능하다
list_a = [1,2,3]
list_b = [4,5,6]
print('list_a=',list_a)
print('list_b=',list_b)
print(list_a+list_b)
print(list_a*3)
print(len(list_a))  #리스트의 갯수를 셀 수 있다.
print(len(list_a*3))

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]
list_a= [1, 2, 3]
list_b= [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
9

In [ ]:
# 리스트에 많이 사용되는 함수들
# append() 리스트에 요소를 추가할 때, 사용 끝에만 추가 (****제일많이 사용*******)
print(score)
score.append(60)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]

In [ ]:
# insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정가능
list = []  #공리스트
list.insert(0,10)  #~번째에 ~를 추가
print(list)
list.insert(2,2)
print(list)
list.insert(0,5)
print(list)

[10]
[10, 2]
[5, 10, 2]

In [ ]:
list_a = [1,2,3]
list_a.extend([4,5,6])  #한번에 여러개를 집어넣을때는 extend
list_a           #파괴적 처리

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
list_a+list_b          #비파과적 처리
list_a

# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다 (비파과적 처리)
# 하지만 extend()를 사용하면 list_a에 직접적으로 영향을 주게된다(파괴적 처리)
# 기본적으로 자료를 사용할 때는 비파과적으로 사용하는것이 바람직하다.
# 가능하념 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 더 넓다.

[1, 2, 3]

In [ ]:
# del() 리스트에서 인덱스 위치 데이터 삭제
list_a = [0,1,2,3,4,5]
del list_a[1] #index 값으로 위치값을 삭제
list_a

del list_a[1:3]  #1부터 3미만 까지 삭제
print(list_a)

del list_a[:]  # 생략하면 처음 : 생략하면 끝
print(list_a)

#list_a.clear()  리스트 요소를 전부 한번에 삭제

[0, 4, 5]
[]

In [ ]:
# pop()    리스트에서 마지막 위치 데이터 삭제 + 특정 위치 데이터 삭제
list_b = [1,2,3,4,5,6]
list_b.pop()
list_b
list_b.pop(1)
list_b

[1, 3, 4, 5]

In [ ]:
#remove 값으로 삭제
list_c = [1,2,3,1,2,3]
list_c.remove(2)  #remove는 요소의 값을 찾아 삭제
                  # 동일한 값이 여러개 있을 때 앞에서 부터 순차적으로 삭제한다.
list_c

[1, 3, 1, 2, 3]

In [ ]:
list=[1,2,3,4,5]
print(list[0])  #indexing 비 파과적으로 동작한다.
print(list)

print(list.pop())  #pop은 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [ ]:
#in / not in 리스트에 존재하는 요소인지를 확인
list = [222,434,65,123,654,897]
print(222 in list)
print(221 in list)
print(221 not in list)

True
False
True

In [ ]:
# Dict 딕셔너리 dictionary (java의 map, JS의 json과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

#{}를 사용하여 데이터들을 저장한다.
#삽입/삭제가 가능하다. mutable
#순서가 없으므로 인덱싱과 슬라이싱 불가능하다

dict ={
    'name' : '엔드 게임',
    'no' : 1,
    'type' : '히어로 무비',
    'price': 10000
}
print(dict)
dict['name']

{'name': '엔드 게임', 'no': 1, 'type': '히어로 무비', 'price': 10000}

'엔드 게임'

In [ ]:
dict = {
    '감독' : ['안소니','루소'],
    '배우' : ['타노스','토르','헐크']
    }
dict
print(dict['감독'])
print(dict['배우'])

['안소니', '루소']
['타노스', '토르', '헐크']

In [ ]:
dict = {
    'name' : '건조망고',
    'type' : '절임 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin' : "필리핀"
}
print("name", dict['name'])
print('type',dict['type'])
print('ingredient',dict['ingredient'])
print('origin',dict['origin'])

dict['name'] = "망고"   #dict 수정가능
print("name", dict['name'])

print(dict['ingredient'][1])  #dict안에서 인덱스 값 불러오기 가능

dict["price"] = 5000    #추가 가능
print(dict)

dict["price"] = 4000
print(dict)

del dict["price"]
print(dict)

name 건조망고
type 절임 과일
ingredient ['망고', '설탕', '색소']
origin 필리핀
name 망고
설탕
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
dict = {
    
}
dict["name"] = "새이름"
dict["height"] = 185
dict["weight"] = 75

print(dict)
del dict["height"]
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'weight': 75}

In [ ]:
# dict 에서 자주 등장하는 에러(예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError 가 발생되는 것처럼
#          dict에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.

dict = {
    'name' : '건조망고',
    'type' : '절임 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin' : "필리핀"
}

# del dict["nane"]  #KeyError 예외발생

In [ ]:
dict = {
    'name' : '건조망고',
    'type' : '절임 과일',
    'ingredient': ['망고','설탕','색소'],
    'origin' : "필리핀"
}

key=input('>삭제를 원하는 데이터의 키값을 입력하세요')
if key in dict:
  print(dict[key])
  del dict[key]
  print(dict)
else:
  print("존재하지 않은 키에 접근하려고 합니다.")

>삭제를 원하는 데이터의 키값을 입력하세요name
건조망고
{'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [ ]:
# 튜플 tuple
# ()를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입,수정 등이 불가능하다. immutable
# 튜플은 1개의 원소로 작성할 때는 ,를 삽입한다.(1,)

t=(1,2)
print(t)
print(t[0])
t2=3,4
print(t2)
print(type(t2))
t3 = 5,
print(t3)
print(type(t3))

(1, 2)
1
(3, 4)
<class 'tuple'>
(5,)
<class 'tuple'>

In [ ]:
t=(1,2,3,4,5)
# t[0]=8 수정불가. immutable
# del t[0] 삭제불가 immutable

In [ ]:
t=(1,2,3,4,5)
t[1]  #인덱싱가능
t[2:4] # 슬라이싱가능

(3, 4)

In [ ]:
t1 = 1,2,3,4,5
t2 = 6,7,8,9
t1+t2
t1
t2
# 비파괴적 연산은 가능하다

print(t1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#Set집합 collection
# {}를 사용한다.
# 중복을 허용하지 않는다.
# 순서가 없다. unordered 리스트나 튜플은 순서가 있어서 ordered 인덱싱,슬라이싱을 통해서 값을 꺼낼 수 있지만,
# 딕셔너리나 셋은 순서가 없어서 불가능하다
# 중복을 허용하지 않는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다.

######set 자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# 수정,삭제가 가능하다 mutable

set = {1,1,2,2,2,3,4}
print(set)  #중복x

{1, 2, 3, 4}

In [1]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)
#print(s1[0])

li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}
<class 'list'>
[1, 2, 3]

1

In [46]:
# 집합 계산
set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

#양쪽 집합에 모두 공통적으로 포함되는 원소 ->교집합
print(set1&set2)
print(set1.intersection(set2))

#양쪽 집합을 모두 포함하는 원소 ->합집합
print(set1|set2)
print(set1.union(set2))

#두 집합의 차 ->차집합
print(set1-set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [2]:
#집합의 추가
s1 = {1,2,3}
print(s1)
s1.add(4)
print(s1)

s1.update([4,5,6,7])
print(s1)

#집합은 삭제가 가능하다 
#집합은 인덱스 개념이 존재하지 않기때문에 값을 지정하여 직접 삭제한다.
s1.remove(4)
print(s1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [12]:
#quiz1 예) 학번 31025 -> 
sn = input("학번을 입력하세요 : ")
level = int(sn[0])
class1 = int(sn[1:3])
num = int(sn[3:5])
print(f"{level}학년{class1}반{num}번")

학번을 입력하세요 : 65132
6학년51반32번

In [19]:
#quiz2 
num = input("차량 번호를 입력하세요 : ") #서울2가1234  or 288가 1234
print(f"{num}의 차량번호 끝 4자리는 {num[-4:]}입니다")

차량 번호를 입력하세요 :  288가 1234
 288가 1234의 차량번호 끝 4자리는 1234입니다

In [39]:
#quiz3
#가운데 글자추출프로그램(홀수)
name = input()
print(f"문자열의 가운데글자는 {name[int(len(name)/2)]} 입니다")
#print(f"문자열의 가운데글자는 {name[(len(name)//2)]} 입니다") int를 써도되고 // 몫 추출
#print(f"문자열의 가운데글자는 {name[(len(name)%2)]} 입니다") int를 써도되고  % 나머지 추출

ㅁㄴㅇ
문자열의 가운데글자는 ㄴ 입니다

In [38]:
list  = ['Life', 'is', 'too', 'short']
print(list[0],list[1],list[2],list[3])

Life is too short

In [45]:
# [1,2,3,4,5,6,7,8,9]의 3번째 요소부터 7번째 요소만 추출한 결과에서 2번째 요소를 출력
a=[1,2,3,4,5,6,7,8,9]
print(a[2:7][1])

4

In [48]:
############
#  if
############

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야 할 때 사용.

# if 조건식:
# 만족할때 실행코드
# else:
# 만족 못 할때 실행코드

if True:
  print("만족")
else:
  print("불만족")

만족

In [51]:
age = int(input("나이를 입력하세요 : "))

if age>=18:
  print("당신은 성인입니다.")
else:
  print("당신은 성인이 아닙니다")

나이를 입력하세요 : 50
당신은 성인입니다.

In [54]:
age = int(input("나이를 입력하세요 : "))

if age<10:
  print("당신은 성인입니다.")
elif age<20:
  print("당신은 10대입니다")
elif age<30:
  print("당신은 20대입니다")
elif age<40:
  print("당신은 30대입니다")
elif age<50:
  print("당신은 40대입니다")
elif age<60:
  print("당신은 50대입니다")
  
else:
  print("당신은 성인이 아닙니다")

나이를 입력하세요 : 12
당신은 10대입니다

In [66]:
#입력) 당신의 점수를 입력하세요 >>>95
n = int(input("당신의 점수를 입력하세요 >>>"))
if n<60 :
  score = "F"
elif n<70:
  score = "D"
elif n<80:
  score = "C"
elif n<90:
  score = "B"
else:
  score = "A"


print(f"당신의 점수는{n}이고 학점은 {score}입니다")

당신의 점수를 입력하세요 >>>50
당신의 점수는50이고 학점은 F입니다

In [69]:
# 임의의 정수를 입력받아 그수가 3의 배수 인지 확인
n = int(input("정수를 입력하세요>>>"))
if n%3==0:
 print(f"{n}은 3의 배수 입니다")
else:
  print(f"{n}은 3의 배수가 아닙니다다")

정수를 입력하세요>>>15
15은 3의 배수 입니다

In [78]:
# 정수 3개 입력받아서 큰수 찾아출력
n1=int(input("정수1입력>"))
n2=int(input("정수2입력>"))
n3=int(input("정수3입력>"))
a=0
if n1>n2 & n1>n3:
  a=n1
elif n2>n3:
  a=n2
else:
  a=n3


print(a)

정수1입력>5
정수2입력>5
정수3입력>5
5