<a href="https://colab.research.google.com/github/koreaithw/ai/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ###########
# Review
# ###########

#****************************************************************************************
# Collection : 많은 데이터(elements)를 저장
# 리스트 list             튜플 tuple              딕셔너리  dict              셋 set
# []                      ()                      {}                          {}
# mutable                 immutable               mutable                     mutable
# indexing/slicing        indexing/slicing        nope                        nope
#                         (1,) or 1,              {key:value} 
#                                                 자바의 map,JS json
#*****************************************************************************************

In [ ]:
#List
list1=[1,2,3,4,5]
list2 = [6,7,8,"superman",True,False]

print(list1[2]) #indexing
print(list2[2:4])#slicing [시작:끝(미만):간격]

list1[0]=9  #수정
print(list1)  
del list1[0] #삭제
print(list1) 
print(list1*3) #연산가능(비파괴적)
list1.append(8) #추가 append(value)는 마지막에 넣는다
print(list1)
list1.insert(1,100) #insert(index,value)
print(list1)

3
[8, 'superman']
[9, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
[2, 3, 4, 5, 8]
[2, 100, 3, 4, 5, 8]

In [ ]:
list3 = list1
print(list3)

del list3[1]

print(list1)
print(list3)

# list1  -----> [2, 100, 3, 4, 5, 8]  <------ list3

print(id(list1))  #메모리의 위치를 나타냄 id()
print(id(list3))

#***********주소가 같지 않은 복사본을 만들고 싶을때************
list4 = list1.copy()
print(id(list4))

[2, 3, 4, 5, 8]
[2, 4, 5, 8]
[2, 4, 5, 8]
140109568281808
140109568281808
140109445869968

In [ ]:
t1=("대한","민국")
type(t1)
t2 = ("대한",)
print(t1,t2)

('대한', '민국') ('대한',)

In [ ]:
# t1[0] = "만세"  #수정불가능 (immutable)
t1[0]      #indexting / slicing 가능
# t1.pop() #삭제(뽑아 내는것) 불가능

'대한'

In [ ]:
#Dict

dict = {
    "key":"Value"
}
print(dict)           #dict 전체호출
print(dict["key"])    #value값 호출

dict["name"] = "tor"  #추가
print(dict)

del dict["key"]       #삭제
print(dict)

{'key': 'Value'}
Value
{'key': 'Value', 'name': 'tor'}
{'name': 'tor'}

In [ ]:
# Set

set={1,1,2,2,2,3}
print(set)                 #중복이없다는 장점 -- list에 중복이있을때 set으로 바꿔서 중복 없엔 후 사용가능 다시 리스트로 바꿔서 사용가능

# print(set[0])            #사용불가 순서가 없어서

{1, 2, 3}

In [ ]:
# #########
# if 조건문
# #########

# if 조건문:
#   True 일 때 실행문
# else:
#   False 일 때 실행문

if True:
  print(True)
else:
  print(False)

True

In [ ]:
#Quiz 1
strsc = input("당신의 점수를 입력하세요")
sc = int(strsc)

if sc >=90:
  gr="A"
elif sc >=80:
  gr="B"
elif sc >=70:
  gr="C"
elif sc >=60:
  gr="D"
else:
  gr="F"

if int(strsc[-1])>=7:
  de ="+"
elif int(strsc[-1])>=4:
  de="0"
else:
  de="-"
print(f"당신의 점수는 {sc}이고 학점은 {gr}{de}학점입니다.")

당신의 점수를 입력하세요60
당신의 점수는 60이고 학점은 D-학점입니다.

In [ ]:
##########################
# while
##########################

# 반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할 때 사용한다.
# while 반복 작업을 몇번 수행할지 확실하지 않을 떄 주로 사용한다.
# 운동장을 해가 질 떄까지 반복해서 돌자

# while 조건구문:
#   실행구문

i=0
while i<10:
  print("운동장돌기")
  i=i+1

운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기
운동장돌기

In [ ]:
n=1
while n<=10:
 print(n)
 n += 1
print("--------") 
print(n)

1
2
3
4
5
6
7
8
9
10
--------
11

In [ ]:
n=10
while n>=1:
  print(n)
  n -= 2

10
8
6
4
2

In [ ]:
li = []
n=1
while n!=0:
  n=int(input("임의의 정수"))

  if n!=0:
    li.append(n)
print(li)

임의의 정수1
임의의 정수2
임의의 정수4
임의의 정수6
임의의 정수0
[1, 2, 4, 6]

In [ ]:
# while 중첩
# while 내부에 또 다른 while을 사용하는 것을 중첩이라고 한다.

# 5일동안 1-3교시 수업.
day=1
c=1
while day<=3:
  c=1 
  while  c<=3:
    print(f"{day}일차 {c}교시입니다")
    c +=1
  day +=1

1일차 1교시입니다
1일차 2교시입니다
1일차 3교시입니다
2일차 1교시입니다
2일차 2교시입니다
2일차 3교시입니다
3일차 1교시입니다
3일차 2교시입니다
3일차 3교시입니다

In [ ]:
# 구구단 2단터 9단
i=2
while i<=9:
  j=1
  while j<=9:
    print(f"{i} X {j} = {i*j}")
    j+=1
  i+=1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
#Quiz 1
n = int(input("정수입력 : "))
no=1
if n==0:
  print("잘못된 입력입니다") 
while n>0:
  print(f"{no}번째 hello")
  no +=1
  n-=1

정수입력 : 2
1번째 hello
2번째 hello
잘못된 입력입니다

In [ ]:
#Quiz 2

n=1
while n<=100:
  n+=1
  if n%7==0:
     print(n)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
#Quiz 3

put = int(input("자판기에 얼마 넣을까>>"))
m=300
n=1
while put>=m:
  print(f"커피{n}잔,잔돈{put-m}원")
  n+=1
  put-=m

자판기에 얼마 넣을까>>1500
커피1잔,잔돈1200원
커피2잔,잔돈900원
커피3잔,잔돈600원
커피4잔,잔돈300원
커피5잔,잔돈0원

In [ ]:
## 공 셋 만드는법
s = set([])   
while len(s)<5:
  no = int(input("0~9사이 정수 입력>>"))
  s.add(no)
  
print(s)

0~9사이 정수 입력>>1
0~9사이 정수 입력>>1
0~9사이 정수 입력>>1
0~9사이 정수 입력>>2
0~9사이 정수 입력>>2
0~9사이 정수 입력>>2
0~9사이 정수 입력>>3
0~9사이 정수 입력>>3
0~9사이 정수 입력>>3
0~9사이 정수 입력>>5
0~9사이 정수 입력>>4
{1, 2, 3, 4, 5}

In [ ]:
# 1부터 100까지 모든정수 한줄에 10개씩
i=1
while i<=100:
  j=1
  while j<=10:
    print(i,end="\t")
    j+=1
    i+=1
  print('')
  
# n=1
# while n<=100:
#   if n%10 !=0:
#     print(n,end="\t")
#   else:
#     print(n)
#   n+=1

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [ ]:
# ##############
# for문 
# ##############

# 몇 번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다.

# for 변수 in 반복시킬값들:
#   반복실행문

# for i in [1,2,3]:
#   print(i)
  
# #문자열 
# for i in "hello":
#   print(i)

# #튜플
# for i in (1,2,3):
#   print(i)

#range()
for i in range(3):   #0부터 3미만까지 #range(시작(생략가능),끝(미만),step)
  print(i)

#set,dict for문에서 순서와 상관없이는 사용가능

0
1
2

In [ ]:
#비번 입력받아 숫자 문자 반드시 하나 이상
# a.isalpha()- 알파벳이면 true
# a.isnumeric()-숫자이면 true
pw = input("비밀번호 입력 : ")
ic=0
nc=0
for i in pw:
  if i.isalpha():
    ic +=1
  elif i.isnumeric():
    nc +=1
if ic!=0 and nc!=0:
  print("사용가능한 비번입니다")    
else:
  print("사용불가능한 비번입니다")

비밀번호 입력 : 321
사용불가능한 비번입니다

In [ ]:
# range([start] , stop, [step])
# 1. 숫자들을 컬렉션으로 만든다.
# 2. start를 생략하면 0부터 시작
# 3. stop는 생략 불가능하다.
# 4. step를 생략하면 1씩 증가한다

range(0, 5)

In [ ]:
#quiz . range와 for 문을 사용하여 구구단 출력
n=int(input("출력할 구구단 입력하세요"))
for i in range(1,10):       
    print(f"{n}x{i}={n*i}", end="\t")

출력할 구구단 입력하세요5
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45

In [ ]:
#set,dict도 for 문으로 사용은 가능하나 순서는 보장하지 않는다.
for i in {"가위","바위","보"}:
  print(i)

가위
보
바위

In [ ]:
person ={
    "name":"에밀리",
    "age":"20"
}
for i in person:
  print(i)
  
for i in person:
  print(person[i])

name
age
에밀리
20

In [ ]:
#사용자로부터 양의 정수를 하나 입력받아서 1부터 입력받은 정수 까지의
#모든 정수의 합계
n=int(input("정수입력하세요"))
sum=0
for i in range(1,n+1):
   sum = sum+i
print(sum)

정수입력하세요5
15

In [ ]:
# 사용자로부터 정수 입력 숫자만큼의 '과일이름'입력 받아 'basket'리스트에 저장
n=int(input("몇 개의 과일 보관?>>"))
basket=[]
for i in range(1,n+1):
  f=input(f"{i}번째 과일을 입력하세요")
  basket.append(f)
print(f"입력 받은 과일들은{basket}입니다")

몇 개의 과일 보관?>>2
1번째 과일을 입력하세요사과
2번째 과일을 입력하세요나무
입력 받은 과일들은['사과', '나무']입니다

In [17]:
#369 게임

for i in range(1,100):
  count=0
  s = str(i)
  for c in s:
      if (c=="3") or (c=="6") or (c=="9"):
        count+=1
      else:
        count=count
  
  if count==0:
      print(i,end="\t")
      if i%10==0:
        print("")
  else:
      print(count*"짝",end="\t")
      if i%10==0:
        print("")

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝